:root{font-family:Arial;box-sizing:border-box;}

div[ui-view]{width:100%;height:100%;}

.cndlogo{position:relative;display:inline-block;}
.cndlogo p{font-size:2.25rem;font-weight:700;line-height:0;font-family: 'Zilla Slab Highlight', cursive;}
.cndlogo img{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:180px;opacity:.3;}

span[ui-sref]{cursor:pointer;}

div#mainframe{width:100%;height:100vh;}

div#framecontain{width:1320px;margin:0 auto;position:relative;}

div#frameleft,div#frameright{display:inline-block;position:absolute;top:0;}
div#frameleft{width:38.2%;left:0;position:fixed;top:100px;left:100px;}
div#frameright{width:61.8%;right:0;}

nav p{cursor:pointer;}
nav p:hover::before{content:'| ';color:red;}

.bgvid{position:absolute;width:100%;height:100%;z-index:-900;}
.bgvid>video{opacity:.3;
  position:fixed;top:50%;left:50%;
  min-width:100%;min-height:100%;
  width:auto;height:auto;
  transform:translate(-50%,-50%);z-index:-1000;}


.fixedcon{width:100%;height:100%;position:relative;}
#navbar{display:inline-block;position:absolute;top:100px;left:0;}
#navbar p{font-size:1.5rem;font-family: 'Merriweather', serif;}

#cndtxt{position:absolute;top:600px;width:350px;}
