/*worldnewssection*/
div.viewcontain{font-family:'Times New Roman';}
div.viewcontain>h2{font-size:2.5rem;font-weight:400;text-shadow:2px 1px #cccccc;
}
div.viewcontain a{text-decoration:none;color:inherit;}
div.viewfeaturedcontain{display:flex;flex-wrap:wrap;}
div.viewfeatured{border-right:1px solid rgba(80,80,80,.5);text-align:center;flex:1;padding:0 15px;}
div.viewfeatured:last-child{border-right:none;}
img.viewimg{max-width:215px;max-height:150px;}
.wnm{margin-left:30px;width:520px;}
