
<div ng-repeat="source in sources" class="bviewcontain">
  <h2>{{source.name}}</h2>

  <div class="bviewfeaturedcontain">
      <div ng-repeat="article in source.articles.slice(0,3)" class="bviewfeatured">
        <div class="imgntitle">
          <img ng-src="{{article.urlToImage}}" alt="no image" class="bviewimg">
          <div class="btitle">

            <h4><a href="{{article.url}}" target="_blank">{{article.title}}</a></h4>
          </div>

        </div>
      </div>
  </div>
  <div class="morebusiness">

        <h3 ng-repeat="article in source.articles.slice(3,article.length)"><a href="{{article.url}}" target="_blank">{{article.title}}</a></h4>


  </div>
</div>
